{
    "useTabs": false,
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "htmlWhitespaceSensitivity": "ignore",
    "semi": true,
    "overrides": [
        {
            "files": ["*package.json"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.yml", ".*.yml"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.md",
            "options": {
                "proseWrap": "preserve"
            }
        }
    ]
}
